.body{
    height: 900px;
   
}
.container{
    display: -webkit-flex;
    flex-direction: row;
    background-image:url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/90605028770039.55d1cd8ee8d36.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    
}

.messageFrame{
    border:solid black;
    display: -webkit-flex;
    flex-direction: column;
    overflow-y: auto;
    height: 600px;
    width: 500px;
    align-items: center;
    
}
.userFrame{
    display: -webkit-flex;
    flex-direction: column;
    overflow-y: auto;
    height: 200px;
    align-items: center;
}

.messageContainer{
    display: -webkit-flex;
    flex-direction: row;
    height: auto;
    width: 200px;
    font-family: sans-serif;
    background: rgba(107, 137, 255,0.5);
    alignment-baseline: central;
    margin-bottom: 25px;
    border: solid black;
    padding: 5px;
    border-radius: 15px !important;
}


.textField{
    height: 100px;
    width: 200px;
    width: auto;
    
}


.userImg{
    border-radius:50%;
    height:50px;
    width:50px;
    
}