<html>
    <head>
        <link rel="stylesheet" type="text/css" href="..static/style.css">
    </head>
    <body>
        <script type="text/javascript" src="/static/script.js"></script>
        <div class = "container">
            <div style = "display:-webkit-flex;flex-direction:column;">
                <div class = "messageFrame">
                <!--this is where the messages will populate-->
                </div>
                <div class = "textField">
                    <!--this is where there will be a text field for input-->
                    <input type="textarea" name="messageText"/>
                </div>
            </div>
            <div class ="userFrame">
                
            </div>
        </div>
    </body>
</html>