<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <Title>chit-chatter</Title>
        <meta name="google-signin-scope" content="profile email" />
        <meta name="google-signin-client_id" content="10385589691-cl4r25k0n5ui7gjgm6q5vhudonq1h1at.apps.googleusercontent.com" />
        <script src="https://apis.google.com/js/platform.js" async defer>
        </script>
    </head>
    <body>
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId: '198187570657818',
                    cookie: true,
                    xfbml: true,
                    version: 'v2.8'
                });
                FB.AppEvents.logPageView();
            };
        
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
         <div class ='topBar' id ='fbButton'>
                <!--login buttons will go here-->
        </div>
        <div class = "container">
            <div class ="userFrame" id="userList">
                
            </div>
            <div style = "display:-webkit-flex;flex-direction:column;">
                <div class = "messageFrame" id = "messageCenter">
                <!--this is where the messages will populate-->
                </div>
                <div class = "textField" id = "txtFld">
                    <!--this is where there will be a text field for input-->
                    <!--<input type="textarea" name="messageText"/>-->
                    
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>


